# Gözlem ve Değişken Seçimi loc ve iloc

In [1]:
import numpy as np
import pandas as pd

m = np.random.randint(1,30,size = (10,3))
df = pd.DataFrame(m,columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    11    27     3
1    21     7    14
2     8     8     6
3     3    29    29
4    23     5    21
5     7    13    28
6     1    21     5
7    21     6    19
8     1     9    29
9     6     2    17

In [ ]:
#loc : Tanımlandığı şekliyle seçim yapmak için kullanılır.

In [2]:
df.loc[0:3]

   var1  var2  var3
0    11    27     3
1    21     7    14
2     8     8     6
3     3    29    29

In [ ]:
#iloc :alışık olduğumuz indexleme mantığı ile seçim yapar.

In [3]:
df.iloc[0:3]

   var1  var2  var3
0    11    27     3
1    21     7    14
2     8     8     6

In [4]:
df.iloc[:3,:2]

   var1  var2
0    11    27
1    21     7
2     8     8

In [5]:
df.loc[0:3,"var3"]

0     3
1    14
2     6
3    29
Name: var3, dtype: int32

In [7]:
# df.iloc[0:3,"var3"] #hata verir böyle yazlımazmış

# Koşullu eleman işlemleri

In [8]:
import numpy as np
import pandas as pd

m = np.random.randint(1,30,size = (10,3))
df = pd.DataFrame(m,columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    26    20    28
1    27    18    14
2    25    29    15
3    23    16    13
4    28    25    14
5     8    19    27
6    27    25    28
7     4     8    15
8    15    12    19
9    10    20    26

In [9]:
df["var1"]

0    26
1    27
2    25
3    23
4    28
5     8
6    27
7     4
8    15
9    10
Name: var1, dtype: int32

In [10]:
df["var1"][0:2]

0    26
1    27
Name: var1, dtype: int32

In [11]:
df[0:2]["var1"]

0    26
1    27
Name: var1, dtype: int32

In [12]:
df[0:2][["var1","var2"]]

   var1  var2
0    26    20
1    27    18

In [15]:
df[df.var1 > 15]  #Bir koşul vermek

   var1  var2  var3
0    26    20    28
1    27    18    14
2    25    29    15
3    23    16    13
4    28    25    14
6    27    25    28

In [17]:
df[(df.var1 > 15) & (df.var3 < 15)]

   var1  var2  var3
1    27    18    14
3    23    16    13
4    28    25    14

In [20]:
df.[df.var1 > 15,["var1","var2"]]

SyntaxError: invalid syntax (<ipython-input-20-44b7c10dcd88>, line 1)

In [21]:
df.loc[df.var1 > 15,["var1","var2"]]

   var1  var2
0    26    20
1    27    18
2    25    29
3    23    16
4    28    25
6    27    25

In [22]:
df[(df.var1 > 15)][["var1","var2"]]

   var1  var2
0    26    20
1    27    18
2    25    29
3    23    16
4    28    25
6    27    25